{% extends 'blog/base.html' %}
<!-- теперь указываем,что мы наследуем все от base.html -->
<!-- эта конструкция должна быть первой (если исп-ем шаблоны) -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
</body>
</html> -->



 <!-- указываем,что мы будем подcтавлять в тег <title>-->
    <!-- тут указываем что будем выводить -->
     <!-- то что пишем внутри блоков(конструкций)то и выводится -->
<!-- {{ title }} указан в views.py def contacti(request):
  return render(request,'blog/contacti.html',{'title': 'Страница контакты1'}) -->
  {% block title %}
    {{ title }}
  {%endblock%}

  <!-- тоже самое с тегом <body></body> -->
  {% block content %}
    <h1>{{ title }}</h1>
  {%endblock%}
