<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- теперь в теге <title> выводим ключ {{title}}
    <title>Главная страница</title> -->
    <title>{{title}}</title>
</head>
<body>
    <!-- также выводим его в теге <h1></h1> -->
     <h1>{{title}}</h1>
     <!-- сюда передаем сам {{news}} - но нужно его потом перебирать в цикле-->
     <!-- {{news}} -->

     <!-- теперь за счет шаблонизатора Jinja перебираем {{news}} через цикл
    надо прописать конструкцию {% %(}) и в нее прописывать код
        прописывать конструкцию {% %(}) нельзя даже в коментах -->
    {% for post in news %}
    <!-- обращаемся к пер-ой post и через точку оращаемся к ключю -->
        <h3>{{post.text}}</h3>
        <p>{{post.text}}</p>
    <!-- можем комбинировать -->
        <p>Автор: {{post.avtor}}, дата: {{post.date}}</p>

    <!-- после того как открыли конструкцию,надо сразу ее закрыть -->
    {% endfor%}


    <!-- <h1>Главная страница</h1> -->

    <!-- теперь чтобы вывести значение some из (data):
     надо открыть 2 фиг. скобки и прописать,что конкретно хотим вывести
    <p><b>{{some}}</b></p> -->
    

</body>
</html>